<div>
  <div class="header">
    <div class="logo"><%= image_tag 'ps_logo.png' %></div>
    <div class="header__title">Geradores de Energia</div>
  </div>

  <div class="searcher gradient">
    <div class="searcher__radio">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="simpleSearch" value="simple" checked>
        <label class="form-check-label" for="simpleSearch">Pesquisa simples</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="searchRadio" id="advancedSearch" value="advanced">
        <label class="form-check-label" for="advancedSearch">Pesquisa Avançada</label>
      </div>
    </div>

    <%= form_tag do %>
      <div class="simple-form">
        <div class="simple-form__input">
          <input class="form-control form-control-lg" type="text" placeholder="o que procura?">
        </div>
        <div class="simple-form__btn">
          <button type="submit" class="btn btn-outline-primary btn-lg">Pesquisar</button>
        </div>
      </div>

      <div class="advanced-form" style="display:none;">
        Entradas do usuário para pesquisar uma coleção de geradores de energia com base nas recomendações fornecidas e melhor custo de frete.
      </div>
    <% end %>
  </div>

  <div class="container" >
    <% @power_generators.each do |power_generator| %>
      <div class="box card power_generator-card">
        <%= image_tag power_generator.image_url, class: 'power_generator-card__img' %>
        <div class="power_generator-card__body">
          <h2><%= power_generator.name.upcase %></h2>
          <p class="power_generator-card__price"><%= number_to_currency(power_generator.price, unit: "R$ ", precision: 2, :separator => ",", :delimiter => ".") %></p>
          <p><strong>Descrição: </strong><%= power_generator.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
